<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
    <div class="main-panel">
        <div class="row">
            <div class="col-md-3 ">
                <div class="card adm-card text-white p-3" [ngClass]="{'bg-primary':totalProfit>0 , 'bg-danger':totalProfit<0}">
                  <i class="fa fa-code-fork"></i>
                  <span class="count-numbers">{{totalProfit | percent:'1.1-2'}}</span>
                  <span class="count-name">Margen total</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card adm-card text-white bg-success">
                  <i class="fa fa-code-fork"></i>
                  <span class="count-numbers">{{totalOperations}}</span>
                  <span class="count-name">Total Operaciones</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card adm-card text-white bg-primary">
                  <i class="fa fa-code-fork"></i>
                  <span class="count-numbers">{{winPos}}</span>
                  <span class="count-name">Ganadoras</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card adm-card text-white bg-warning">
                  <i class="fa fa-code-fork"></i>
                  <span class="count-numbers">{{losePos}}</span>
                  <span class="count-name">Perdedoras</span>
                </div>
            </div>
        </div>
        
      </div>
    <h2>Cryptos</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precision</th>
            <th scope="col">Activo</th>
            <th scope="col">Total Operaciones</th>
            <th scope="col">Wins</th>
            <th scope="col">PN Wins</th>
            <th scope="col">Loses</th>
            <th scope="col">PN Loses</th>
            <th scope="col">Win Ratio</th>
            <th scope="col">PN Total</th>
            <th scope="col">Profit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of assets" [ngClass]="{'table-primary' : (asset.wins*4 - asset.loses*2)/100>0 , 'table-danger' : (asset.wins*4 - asset.loses*2)/100<0 }">
            <td>{{asset.name}}</td>
            <td>{{asset.precision}}</td>
            <td>{{asset.active}}</td>
            <td>{{asset.total}}</td>
            <td>{{asset.wins}}</td>
            <td>{{asset.pnWins}}</td>
            <td>{{asset.loses}}</td>
            <td>{{asset.pnLoses}}</td>
            <td>{{asset.wr | percent:'1.1-2'}}</td>
            <td>{{asset.pnTotal}}</td>
            <td>{{asset.profit | percent:'1.1-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
